<head>
  <%= stylesheet_link_tag 'application.css' %>
</head>

<div>
  <div class="sign-btn">
    <%= link_to 'Sign out', destroy_user_session_path %>
  <div>

  <%@users.each do |user|%>
  <div class="parent-container">
    <div class="user-image">
      <img src=<%= user.photo %> width="75rem">
    </div>

    <div class="user-details">
      <h1><%= link_to user.name, user_path(user) %></h1>
      <p>Number of post: <%= user.posts_counter %></p>
    </div>
  </div>
  <% end %>
  <button class="create-new-post-btn">
    <%= link_to 'Create new post', new_user_post_path(current_user) %>
  </button>
</div>