 <head>
  <%= stylesheet_link_tag 'application.css' %>
</head>

<div class="post">
  <div class="comment-likes">
    <h2><%= @post.title %> #<%= @post.id %> by <%= @post.author.name %></h2>
    <p class="comment-and-likes">
      comments : <%= @post.comments_counter %>
      likes : <%= @post.likes_counter %>
    </p>

  </div>

    <div>
      <p class="comment-text">
        <%= @post.text %>
      </p>
    </div>

    <div class="comment-container">
      <% @post.comments.each do |comment| %>
      <p><%= comment.author.name %> : <%= comment.text %></p>
      <% end %>
    </div>
</div>